body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: white;
}

#login {
  margin-top: 50px;
  margin-left: 100px;
}
.cuerpoEntero {
  display: grid;
  width: auto;
  height: 700px;
}

.fondoHeader {
  display: flex;
  height: 600px;
  grid-area: 1 / 1 / 4 / 6;
  background-color: #4231bc;
  justify-content: center;
}
.fondoHeader h1 {
  color: white;
  padding-top: 50px;
  margin-left: 10%;
}
.fondoHeader img {
  height: 80px;
  padding-top: 50px;
  margin-left: 100px;
}
.ingreso {
  color: white;
  margin-left: 100px;
  margin-top: 10px;
}
.ingreso .casillas {
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: whitesmoke;
  font-size: 20px;
  padding-left: 20px;
  margin: 2px;
}

.boton_enviar {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

.headerCuadro {
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-area: 2 / 1 / 5 / 6;
  grid-template-rows: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  filter: drop-shadow(20px 10px 20px #424242);
  border: none;
}

.imagenProducto img {
  height: 400px;
  justify-content: center;
  margin: 50px;
}

.botoneraCuadro {
  display: flex;
}

.botoneraCuadro button {
  font-size: medium;
  height: 100px;
  width: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  background-color: #4231bc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

main {
  margin-top: 300px;
  margin-bottom: 100px;
}

.box_titulo {
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4231bc;
}

.box_carga-padre {
  display: flex;
  background-color: rgb(232, 232, 232);
  justify-content: center;
  align-items: center;
  height: 100px;
}

.box_carga-hijo {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  width: 900px;
  margin-top: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.elemento_cargado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.elementos_cargado h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 200px;
  background-color: #4231bc;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10%;
}
footer img {
  height: 100px;
}

.botonSeguir {
  justify-content: center;
  display: none;
}
.botonSeguir button {
  background-color: #4231bc;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: 200px;
  color: white;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
}

.masVendido {
  display: flex;
  font-size: 30px;
  color: #4231bc;
  justify-content: center;
  padding-top: 70px;
}

/* .volverElegir {
  justify-content: center;
  display: none;
}

.volverElegir button {
  background-color: #4231bc;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: 200px;
  color: white;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
} */
